@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif !important;
  background-color: #ffffff;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}